<a href="https://colab.research.google.com/github/vitorsarilio/Pos_Tech_Data_Analytics/blob/main/Notebooks/Producao_Hospitalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisando dados de producao hospitalar

In [3]:
import pandas as pd

In [14]:
dados = pd.read_csv("/content/sus_atendimento_por_unidade_federal.csv",encoding="ISO-8859-1",skiprows=3,skipfooter=12,sep=";",thousands=".",decimal=",")

<ipython-input-14-e66039a7f385>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv("/content/sus_atendimento_por_unidade_federal.csv",encoding="ISO-8859-1",skiprows=3,skipfooter=12,sep=";",thousands=".",decimal=",")

In [15]:
dados.head()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2022/Out,2022/Nov,2022/Dez,2023/Jan,2023/Fev,2023/Mar,2023/Abr,2023/Mai,2023/Jun,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,10049214.05,10167232.57,10148286.52,10656593.72,9879520.12,11330068.59,8688461.65,7060191.14,3031389.91,1.312081e+09
1,12 Acre,-,-,-,-,-,-,-,-,-,...,4040340.45,4029748.15,3956231.61,4031485.58,3664557.67,4527708.00,4098902.33,3809695.56,1930584.90,5.601377e+08
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,20364008.80,19420691.15,18253868.87,18210933.80,17949426.58,20586218.92,18761374.64,14402444.28,4740988.46,2.475571e+09
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,4531026.40,4658409.98,3798816.54,3798750.72,3035789.71,4295518.47,2486835.41,1723725.16,741367.21,4.295709e+08
4,15 Pará,-,-,-,-,-,-,-,-,-,...,45461389.56,45951819.78,45031378.60,48150220.81,43169351.42,48777817.78,39234567.60,31709760.73,12887379.06,5.951776e+09

In [16]:
dados.tail()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2022/Out,2022/Nov,2022/Dez,2023/Jan,2023/Fev,2023/Mar,2023/Abr,2023/Mai,2023/Jun,Total
22,43 Rio Grande do Sul,-,-,-,-,-,-,-,-,-,...,1.092283e+08,1.066445e+08,1.004889e+08,1.084911e+08,95941635.84,1.147570e+08,93964103.69,79743548.12,30204421.35,1.592290e+10
23,50 Mato Grosso do Sul,-,-,-,-,-,-,-,-,-,...,2.511508e+07,2.606546e+07,2.317267e+07,2.477656e+07,22119943.46,2.389813e+07,16463648.54,11226350.86,3872349.65,3.031173e+09
24,51 Mato Grosso,-,-,-,-,-,-,-,-,-,...,2.030119e+07,2.026376e+07,1.971686e+07,2.167737e+07,19482558.89,2.169773e+07,18248988.05,16228672.59,7977777.03,2.827458e+09
25,52 Goiás,-,-,-,-,-,-,-,-,-,...,4.289746e+07,4.267568e+07,4.233470e+07,4.625081e+07,41811249.07,4.717995e+07,39139896.96,35276241.70,16952790.48,6.325997e+09
26,53 Distrito Federal,-,-,-,-,-,-,-,-,-,...,2.571218e+07,2.560327e+07,2.428718e+07,2.927977e+07,24905184.98,2.849921e+07,25290631.21,21651682.83,13339638.25,3.330127e+09

In [17]:
dados.mean()

<ipython-input-17-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2007/Ago    3.049528e+05
2007/Set    7.881453e+05
2007/Out    2.440163e+06
2007/Nov    5.517354e+06
2007/Dez    1.233716e+07
                ...
2023/Fev    5.387618e+07
2023/Mar    6.250777e+07
2023/Abr    5.152895e+07
2023/Mai    4.658040e+07
Total       8.112632e+09
Length: 191, dtype: float64

In [18]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 314 entries, Unidade da Federação to Total
dtypes: float64(191), object(123)
memory usage: 66.4+ KB

In [19]:
pd.options.display.float_format = "{:.2f}".format

In [20]:
dados.mean()

<ipython-input-20-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2007/Ago       304952.77
2007/Set       788145.26
2007/Out      2440162.96
2007/Nov      5517354.05
2007/Dez     12337159.42
                ...
2023/Fev     53876183.69
2023/Mar     62507775.00
2023/Abr     51528949.91
2023/Mai     46580401.36
Total      8112631917.93
Length: 191, dtype: float64

In [26]:
nome_coluna_mais_recente = dados.columns[-2]
coluna_mais_recente = dados.iloc[:, -2]

print(nome_coluna_mais_recente)
print(coluna_mais_recente)

2023/Jun
0       3031389.91
1       1930584.90
2       4740988.46
3        741367.21
4      12887379.06
5                -
6        320278.10
7      11014001.13
8      10300248.79
9      17888439.76
10     10251253.37
11      9763153.35
12     38304163.37
13      7594161.34
14      2372141.74
15     32900282.43
16     72895678.39
17     14489094.38
18     39714502.08
19    160264521.27
20     58710605.25
21     25745512.40
22     30204421.35
23      3872349.65
24      7977777.03
25     16952790.48
26     13339638.25
Name: 2023/Jun, dtype: object